* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

.bg-image{
    background: url(./src/wall_canyon.jpg) no-repeat center center fixed;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    /*brightness 50%*/
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}

/*Contenido par que no se vea oscurecido por el filtro*/
.content{
/*    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);*/
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 2;
}


/*logo flotante en la parte superior izquierda*/
.logo{
    background-size: cover;
    display: block;
    width: 175px;
    height: 60px;
    left: 0;
    position: fixed;
    right: 0;
    margin-left: 75px;
    margin-top: 50px;
    z-index: 20;

}

.logo img{
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
    z-index: 20;

}

/*    <!--botón flotante de menu en la parte superior derecha-->*/
.menu{
    background-size: cover;
    display: block;
    position: fixed;
    right: 0;
    margin-right: 75px;
    margin-top: 5px;
}



/*Bottom navigation cols*/
.bottom-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    color:white;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}


.bottom-navigation .col{
    border-width: 1px;
    border-style: solid;
    padding: 0;
    border-color: rgba(255,255,255,0.4);
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px) saturate(100%);
    transition: 0.5s;
}

.bottom-navigation .col div {
    /*this div is the equal size  that .col*/
    padding: 20px;
    transition: 0.5s;
}

.bottom-navigation .col:hover div {
    /*this div is the equal size  that .col*/
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px) saturate(100%);
    transition: 0.5s;
    color: darkred;
}

.overlay {
    position: fixed;
    bottom: -100vh;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    transition: .5s ease;
    object-fit: cover;

}

.bottom-navigation .col:hover .overlay {
    /*height of all the screen*/
    position: fixed;
    height: 101vh;
    bottom: 0;
}


/*MENU DESPLEGABLE  */

/*select class ic*/
.icon {
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.icon.close:hover{
    color: red;
    transition: 0.5s;
}


/*card aligned to the center*/
.card.active{
    top: 25%;
}

.card-default{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    width: 60%;
    border-radius: 25px;
    z-index: 3;
}

.card{
    top: -101vh;
    transition: all 0.5s ease-in-out;
}



.bg-image{
    background: url(./src/wall_canyon.jpg) no-repeat center center fixed;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    /*brightness 50%*/
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}


.menu{
    background-size: cover;
    display: block;
    position: fixed;
    right: 0;
    margin-right: 75px;
    margin-top: 5px;
    z-index: 2;
}




/*Hamburguer menu*/
#nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 55px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon:hover span{
    background: red;
    transition: 0.25s;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 30px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}