body{
    max-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: radial-gradient(rgba(3, 17, 30, 0.60) 0%,
    rgba(3, 17, 30, 0.80) 29%,
    #03111E 79%
    );
}

.background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.login-box {
    width: 638px;
    height: 710px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.login-box-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
            115deg,
            rgba(255, 255, 255, 0.50) 0%,
            rgba(3, 17, 30, 0) 100%
    );
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    backdrop-filter: blur(40px);
}

.input-field-mail {
    width: 320px;
    height: 50px;
    left: 50%;
    top: 355px;
    transform: translateX(-50%);
    position: absolute;
}

.input-field-pass {
    width: 320px;
    height: 50px;
    left: 50%;
    top: 430px;
    transform: translateX(-50%);
    position: absolute;
}

.input-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    border-radius: 15px;
    border: 1px #00478D solid;
}

.input-label {
    left: 16px;
    top: 9px;
    position: absolute;
    color: #999999;
    font-size: 18px;
    font-family: Content;
    font-weight: 400;
    word-wrap: break-word;
}

.button-field {
    width: 320px;
    height: 50px;
    left: 50%;
    top: 500px;
    transform: translateX(-50%);
    position: absolute;
}

.button {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #00478D;
    border-radius: 15px;
    color: white;
}

.button-label {
    left: 112px;
    top: 14px;
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: Passero One;
    font-weight: 400;
    word-wrap: break-word;
}

.forgot-password-field {
    width: 400px;
    height: 17px;
    left: 65%;
    top: 570px;
    transform: translateX(-50%);
    position: absolute;
}

.forgot-password-label {
    left: 72px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 14px;
    font-family: Poetsen One;
    font-weight: 400;
    word-wrap: break-word;
}

.forgot-password-link {
    left: 0px;
    top: 0px;
    position: absolute;
    color: #000000;
    font-size: 14px;
    font-family: Poetsen One;
    font-weight: 400;
    word-wrap: break-word;
}

.password-icon {
    width: 16px;
    height: 12.80px;
    left: 285px;
    top: 19px;
    position: absolute;
    background: black;
}

.empty-div1 {
    width: 211px;
    height: 140px;
    left: 50%;
    top: 217px;
    transform: translateX(-50%);
    position: absolute;
}

.profile-picture {
    width: 188px;
    height: 186px;
    left: 50%;
    top: 246px;
    transform: translateX(-50%);
    position: absolute;
}

.profile-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 7.64px;
}
