/*html {
    font-size: 16px
}*/

/* Animación de entrada y salida para las páginas */
.page-enter {
  opacity: 0;
  transform: translateX(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 0.5s,
    transform 0.5s;
}

.page-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition:
    opacity 0.5s,
    transform 0.5s;
}

body {
  /*esconder scrollbar*/
  overflow: hidden;
  scroll-behavior: smooth;
}

/*botón con aria content= "Minimize image" */
[data-rmiz-btn-unzoom] {
  background-color: rgba(0, 0, 0, 0.65) !important;
  z-index: 999;
}
[data-rmiz-modal-overlay='visible'] {
  background-color: rgb(255, 255, 255) !important;
}
