.back-button {
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 9999;
  background-color: #8e0704;
  padding: 15px 15px;
  border: none;
  border-radius: 500px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: 0.3s; /* Reduce la duración de la transición */
  display: flex; /* Agregamos display flex */
  align-items: center; /* Centramos verticalmente el contenido */
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  transform: rotate(-45deg);
  margin-right: 5px; /* Añadimos un margen derecho */
  z-index: 9999;
}

/* Eliminamos .back-button:hover .arrow ya que no es necesario */

.back-button:hover {
  background-color: #740704;
  transition: 0.5s; /* Reduce la duración de la transición */
}

.back-button::after {
  content: 'Atrás';
  color: transparent;
  background-color: transparent;
  font-size: 0;
  /* Reduce la duración de la transición */
  transition: 0.5s;
  border-radius: 500px;
}

/*si el tamaño es menor que 800px*/
@media (max-width: 900px) {
  .back-button:hover::after {
    font-size: 0.7rem !important;
    margin-left: 0 !important;
  }

  .arrow {
    width: 7px;
    height: 7px;
  }
  .back-button {
    padding: 13px 10px;
  }
}

.back-button:hover::after {
  font-size: 0.8rem;
  color: white;
  margin-left: 5px; /* Agregamos un margen izquierdo */
}
