#customScroll::-webkit-scrollbar {
  width: 7px;
}

#customScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

#customScroll::-webkit-scrollbar-thumb {
  background-color: #a52422;
  outline: 1px solid #907070;
  border-radius: 10px;
}
