#timeline {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /*
  background: url("../../public/assets/img/canonautor.jpg") no-repeat center center fixed;
  */
  overflow: hidden;
  background-size: cover;
}

.enlace_referencia a{
  color: #8e0704;
  text-decoration: underline;
}
